body {
  margin: 0;
  padding: 0;
  background-color: #060612;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg {
  background: #060611 url(../images/bg.png) no-repeat top center;
}

.main_title {
  background: url("../images/titlebg.png") no-repeat;
  height: 60px;
  width: 165px;
  text-align: center;
  margin: 44px auto 18px;
  padding-top: 11px;
  padding-left: 10px;
}

section {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  color: #FFF;
}

.container .headerWrap,
.container .logoIntro {
  border-bottom: 1px solid #6774C3;
  padding-bottom: 10px;
}

.container .logo img {
  margin-top: 20px;
  margin-left: 20px;
}

.container .brandIntro {
  width: 100%;
  margin: 0 auto 10px;
  text-align: center;
}

.container .brandIntro img {
  margin-bottom: 10px;
}

.container .brandIntro p {
  font-size: 36px;
}

.container .downloadWrap {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}

.container .downloadWrap .downloadButton {
  width: 270px;
  height: 63px;
  background: url(../images/btbg.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.container .downloadWrap .copyImg {
  width: 50px;
}

.container .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .description li {
  margin-right: 10px;
}

.container .appContainer {
  padding-top: 20px;
}

.container .appContainer .mainDescription {
  padding-bottom: 20px;
}

.container .appContainer .mainDescription .descriptionTitle {
  text-align: center;
}

.container .appContainer .mainDescription .descriptionContent {
  text-align: center;
}

.container .appImgWrap {
  position: relative;
}

.container .appImgWrap .appImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .appImgWrap .appImg img {
  width: 40%;
}

.container .appImgWrap img {
  border-radius: 15px;
  margin-left: 20px;
}

.container .appImgWrap .avImg {
  position: absolute;
  bottom: 0;
  left: 26px;
}

.container .commentWrap {
  padding-top: 20px;
}

.container .commentWrap .starComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.container .commentWrap .starComment p {
  margin-left: 10px;
  color: #FFDA45;
}

.container .commentWrap .commentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0B1065;
  padding: 8px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.container .commentWrap .commentFlex .commentUserImg {
  width: 6.5%;
  text-align: center;
}

.container .commentWrap .commentFlex .commentUserName {
  width: 15%;
  text-align: center;
}

.container .commentWrap .commentFlex .comment {
  width: 60%;
  text-align: center;
}

.container .commentWrap .commentFlex .emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20%;
  color: #FFDA45;
}

.container .commentWrap .commentFlex .emoji p {
  margin-left: 10px;
}

.container .commentWrap .commentFlex .emoji img {
  width: 15px;
  height: 15px;
}

.container .recommendWrap {
  margin-bottom: 80px;
}

.container .recommendWrap .recommendAppWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .recommendWrap .recommendApp {
  width: 32%;
  background: #FFF;
  padding: 10px 0;
  text-align: center;
  color: #000;
  border-radius: 10px;
}

.container .recommendWrap .appImg {
  border-radius: 5px;
  width: 50px;
}

.container .recommendWrap .recommendName {
  font-size: 24px;
}

.container .recommendWrap .recommendDescription {
  color: #6D7278;
}

.container .recommendWrap .loveWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF4E4E;
}

.container .recommendWrap .goDownload {
  max-width: 120px;
  background: #FEFF5A;
  border: 1px solid #B6A339;
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px 0;
}

.container2 {
  max-width: 100%;
}

.container2 .guessLikeBg {
  background: #051249 url(../images/RectangleBg2.png) no-repeat left bottom;
}

.container2 .guessLikeBg .guessLikeWrap {
  position: relative;
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  padding: 40px 0;
}

.container2 .guessLikeBg .guessLikeWrap .main_title {
  position: absolute;
  top: -30px;
  margin: 0;
  color: #ffffff;
}

.container2 .guessLikeBg .likeAPPWrap {
  background: #FFF;
  width: 24%;
  border-radius: 10px;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 10px;
}

.container2 .guessLikeBg .likeAPPWrap .likeApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.container2 .guessLikeBg .likeAPPWrap .appImg {
  margin-right: 5px;
  border-radius: 5px;
}

.container2 .guessLikeBg .likeAPPWrap .goDownload {
  max-width: 120px;
  background: #FEFF5A;
  border: 1px solid #B6A339;
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 30px;
  color: #989CA2;
  border-bottom: 1px solid #6774C3;
  margin-bottom: 50px;
}

.footer img {
  margin-right: 20px;
}

.footer p {
  width: 80%;
}

@media (max-width: 415px) {
  .container .appImgWrap .avImg {
    width: 30%;
    left: -20px;
  }
  .container2 .guessLikeBg .likeAPPWrap {
    width: 48%;
  }
}
/*# sourceMappingURL=main.css.map */