body {
  margin: 0;
  padding: 0;
  background-color: #060612;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.bg {
  background: #060611 url(../images/bg.png) no-repeat top center;
}

.main_title {
  background: url("../images/titlebg.png") no-repeat;
  height: 60px;
  width: 165px;
  text-align: center;
  margin: 44px auto 18px;
  padding-top: 11px;
  padding-left: 10px;
}

section {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  color: #FFF;

  .headerWrap,
  .logoIntro {
    border-bottom: 1px solid #6774C3;
    padding-bottom: 10px;
  }

  .logo img {
    margin-top: 20px;
    margin-left: 20px;
  }

  .brandIntro {
    width: 100%;
    margin: 0 auto 10px;
    text-align: center;

    img {
      margin-bottom: 10px;
    }

    p {
      font-size: 36px;
    }
  }

  .downloadWrap {
    color: #000;
    display: flex;
    justify-content: center;
    padding: 0 10px;

    .downloadButton {
      width: 270px;
      height: 63px;
      background: url(../images/btbg.png) no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    .copyImg {
      width: 50px;
    }
  }

  .description {
    display: flex;
    justify-content: center;

    li {
      margin-right: 10px;
    }
  }

  .appContainer {
    padding-top: 20px;

    .mainDescription {
      padding-bottom: 20px;

      .descriptionTitle {
        text-align: center;
      }

      .descriptionContent {
        text-align: center;
      }
    }
  }

  .appImgWrap {
    position: relative;

    .appImg {
      display: flex;
      justify-content: flex-end;

      img {
        width: 40%;
      }
    }

    img {
      border-radius: 15px;
      margin-left: 20px;
    }

    .avImg {
      position: absolute;
      bottom: 0;
      left: 26px;
    }
  }

  .commentWrap {
    padding-top: 20px;

    .starComment {
      display: flex;
      margin-top: 10px;

      p {
        margin-left: 10px;
        color: #FFDA45;
      }
    }

    .commentFlex {
      display: flex;
      align-items: center;
      background: #0B1065;
      padding: 8px 15px;
      border-radius: 10px;
      margin-bottom: 10px;

      .commentUserImg {
        width: 6.5%;
        text-align: center;
      }

      .commentUserName {
        width: 15%;
        text-align: center;
      }

      .comment {
        width: 60%;
        text-align: center;
      }

      .emoji {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 20%;
        color: #FFDA45;        
        p {
          margin-left: 10px;
        }

        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .recommendWrap {
    margin-bottom: 80px;

    .recommendAppWrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .recommendApp {
      width: 32%;
      background: #FFF;
      padding: 10px 0;
      text-align: center;
      color: #000;
      border-radius: 10px;
    }

    .appImg {
      border-radius: 5px;
      width: 50px;
    }

    .recommendName {
      font-size: 24px;
    }

    .recommendDescription {
      color: #6D7278;
      ;
    }

    .loveWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FF4E4E;
    }

    .goDownload {
      max-width: 120px;
      background: #FEFF5A;
      border: 1px solid #B6A339;
      border-radius: 10px;
      margin: 0 auto;
      padding: 5px 0;
    }
  }
}

.container2 {
  max-width: 100%;

  .guessLikeBg {
    background: #051249 url(../images/RectangleBg2.png) no-repeat left bottom;

    .guessLikeWrap {
      position: relative;
      max-width: 750px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 auto;
      padding: 40px 0;

      .main_title {
        position: absolute;
        top: -30px;
        margin: 0;
        color: #ffffff;
      }
    }

    .likeAPPWrap {
      background: #FFF;
      width: 24%;
      border-radius: 10px;
      text-align: center;
      padding: 15px 0;
      margin-bottom: 10px;
      .likeApp {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
      }

      .appImg {
        margin-right: 5px;
        border-radius: 5px;
      }

      .goDownload {
        max-width: 120px;
        background: #FEFF5A;
        border: 1px solid #B6A339;
        border-radius: 10px;
        margin: 0 auto;
        padding: 5px 0;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  padding:20px 20px 30px;
  color: #989CA2;
  border-bottom: 1px solid #6774C3;
  margin-bottom: 50px;
  img {
    margin-right: 20px;
  }
  p {
    width: 80%;
  }
}

@media (max-width: 415px) {
  .container .appImgWrap .avImg {
    width: 30%;
    left: -20px;
  }
  .container2 .guessLikeBg .likeAPPWrap {
    width: 48%;
  }
}
